<a href="https://colab.research.google.com/github/chnrv99/Web-Dev/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
dict1 = {
    'name':['harry','rohan','skillf','shubh'],
    'marks':[92,34,24,17],
    'city':['rampur','kolkata','bareilly','antartica'],
}

In [4]:
# it converts the dict to like an excel sheet for faster indexing
df = pd.DataFrame(dict1)

In [5]:
df
# the key of the dict becomes column names and the each column is indexed

     name  marks       city
0   harry     92     rampur
1   rohan     34    kolkata
2  skillf     24   bareilly
3   shubh     17  antartica

In [6]:
# we are exporting this dataframe to csv file
df.to_csv('friends.csv')

In [7]:
# we dont want the index to be present in the csv file
df.to_csv('friends.csv',index=False)

In [8]:
# if we have a million rows, then viewing every rows is not possible, we can specify how 
# many rows we want to view
df.head(2)

    name  marks     city
0  harry     92   rampur
1  rohan     34  kolkata

In [9]:
# last rows
df.tail(2)

     name  marks       city
2  skillf     24   bareilly
3   shubh     17  antartica

In [10]:
# whatever neumerical columns u have, it will show all count, mean,std,min,max,
# and standard deviation
df.describe()

          marks
count   4.00000
mean   41.75000
std    34.21866
min    17.00000
25%    22.25000
50%    29.00000
75%    48.50000
max    92.00000

In [13]:
# changing the index from numbers to string or any other desired ones
df.index = ['first','second','third','fourth']
df

          name  marks       city
first    harry     92     rampur
second   rohan     34    kolkata
third   skillf     24   bareilly
fourth   shubh     17  antartica

In [17]:
# pandas is a open source data analysis lib written in python
# it can be useful with numpy
# it provides rich and highly robust data operations
# most of the numpy code is written in C language.. lol

# two types of datastructures: series and dataframe
# series: its a 1D array with indexes, it stores a single column or row of data in a Dataframe
# 
# dataframe: it's a tabular spreadsheet(2D Array) like structure representing rows each of which contains one or multiple columns

# creating a series
ser = pd.Series(np.random.rand(34))

In [18]:
ser

0     0.641401
1     0.763338
2     0.229132
3     0.458832
4     0.959569
5     0.104661
6     0.188221
7     0.845127
8     0.904925
9     0.125322
10    0.124913
11    0.984409
12    0.620986
13    0.001528
14    0.441227
15    0.690759
16    0.367748
17    0.752963
18    0.413013
19    0.296996
20    0.247585
21    0.562193
22    0.324556
23    0.112485
24    0.082832
25    0.475505
26    0.552326
27    0.497885
28    0.299398
29    0.737384
30    0.989497
31    0.459061
32    0.845781
33    0.356009
dtype: float64

In [19]:
# creating a dataframe from np
newdf = pd.DataFrame(np.random.rand(334,5),index = np.arange(334))

In [20]:
newdf.head()

          0         1         2         3         4
0  0.443888  0.771929  0.649208  0.934152  0.302544
1  0.416347  0.511203  0.366239  0.284194  0.421610
2  0.695007  0.694754  0.376992  0.677308  0.032396
3  0.329082  0.877458  0.016456  0.495112  0.170101
4  0.817601  0.928497  0.436798  0.341974  0.695969

In [21]:
# 
newdf

            0         1         2         3         4
0    0.443888  0.771929  0.649208  0.934152  0.302544
1    0.416347  0.511203  0.366239  0.284194  0.421610
2    0.695007  0.694754  0.376992  0.677308  0.032396
3    0.329082  0.877458  0.016456  0.495112  0.170101
4    0.817601  0.928497  0.436798  0.341974  0.695969
..        ...       ...       ...       ...       ...
329  0.158488  0.945032  0.446632  0.383457  0.368426
330  0.791534  0.377012  0.874532  0.326731  0.657916
331  0.734658  0.973973  0.200555  0.958925  0.051595
332  0.587234  0.036648  0.570850  0.480361  0.645723
333  0.501190  0.599963  0.868134  0.898762  0.708460

[334 rows x 5 columns]

In [22]:
# its a dataframe
type(newdf)

pandas.core.frame.DataFrame

In [23]:
# its a serial
type(ser)

pandas.core.series.Series

In [24]:
# tells the dataframe's count, max, min, std, etc
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.519924    0.524522    0.499879    0.509556    0.511399
std      0.292196    0.279129    0.283823    0.278529    0.288245
min      0.001215    0.013463    0.002473    0.000193    0.002092
25%      0.283459    0.288046    0.267372    0.280052    0.276710
50%      0.512153    0.539794    0.481154    0.504913    0.532622
75%      0.787293    0.763552    0.750993    0.735846    0.754349
max      0.995197    0.999002    0.998570    0.999463    0.997830

In [27]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [29]:
# trying to change the datatype
newdf[0][0] = 'Nishanth'

In [30]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [31]:
newdf.head

<bound method NDFrame.head of             0         1         2         3         4
0    Nishanth  0.771929  0.649208  0.934152  0.302544
1    0.416347  0.511203  0.366239  0.284194  0.421610
2    0.695007  0.694754  0.376992  0.677308  0.032396
3    0.329082  0.877458  0.016456  0.495112  0.170101
4    0.817601  0.928497  0.436798  0.341974  0.695969
..        ...       ...       ...       ...       ...
329  0.158488  0.945032  0.446632  0.383457  0.368426
330  0.791534  0.377012  0.874532  0.326731  0.657916
331  0.734658  0.973973  0.200555  0.958925  0.051595
332  0.587234  0.036648  0.570850  0.480361  0.645723
333   0.50119  0.599963  0.868134  0.898762  0.708460

[334 rows x 5 columns]>

In [32]:
# printing all indexes
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [33]:
# getting no. of columns in the dataframe
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [34]:
# converting to numpy array
newdf.to_numpy()

array([['Nishanth', 0.7719292215973713, 0.6492082828559563,
        0.9341516939942623, 0.3025440746366861],
       [0.4163465418786908, 0.5112033369909772, 0.36623919546965056,
        0.28419385414174414, 0.4216102722353162],
       [0.695006707204771, 0.6947543657774211, 0.37699168967366226,
        0.6773083477623562, 0.03239570934968983],
       ...,
       [0.734657919086284, 0.9739731788454318, 0.20055468724735814,
        0.9589253255174963, 0.05159462948192439],
       [0.5872336760774916, 0.036647754845208214, 0.5708501835216641,
        0.48036061043287126, 0.6457229020010243],
       [0.5011897858157778, 0.5999626417529983, 0.8681340487537287,
        0.8987620086580679, 0.7084600100732874]], dtype=object)

In [36]:
# transposing the dataframe
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,Nishanth,0.416347,0.695007,0.329082,0.817601,0.49425,0.263419,0.151499,0.894695,0.049836,...,0.461211,0.88955,0.722489,0.246077,0.080703,0.158488,0.791534,0.734658,0.587234,0.50119
1,0.771929,0.511203,0.694754,0.877458,0.928497,0.994916,0.517472,0.647085,0.965141,0.804635,...,0.774647,0.4297,0.762277,0.819042,0.247274,0.945032,0.377012,0.973973,0.036648,0.599963
2,0.649208,0.366239,0.376992,0.016456,0.436798,0.812475,0.892397,0.337677,0.620983,0.55854,...,0.777419,0.907017,0.555449,0.92995,0.025145,0.446632,0.874532,0.200555,0.57085,0.868134
3,0.934152,0.284194,0.677308,0.495112,0.341974,0.756719,0.567036,0.978182,0.28628,0.457614,...,0.789642,0.927926,0.260436,0.085277,0.672073,0.383457,0.326731,0.958925,0.480361,0.898762
4,0.302544,0.42161,0.032396,0.170101,0.695969,0.724554,0.205943,0.905389,0.035182,0.57803,...,0.618947,0.921981,0.714046,0.56104,0.466543,0.368426,0.657916,0.051595,0.645723,0.70846

In [37]:
# sorting the index(already sorted tho so we do desc order)
# axis 0 means y axis.. or column wise
newdf.sort_index(axis=0,ascending=False)

            0         1         2         3         4
333   0.50119  0.599963  0.868134  0.898762  0.708460
332  0.587234  0.036648  0.570850  0.480361  0.645723
331  0.734658  0.973973  0.200555  0.958925  0.051595
330  0.791534  0.377012  0.874532  0.326731  0.657916
329  0.158488  0.945032  0.446632  0.383457  0.368426
..        ...       ...       ...       ...       ...
4    0.817601  0.928497  0.436798  0.341974  0.695969
3    0.329082  0.877458  0.016456  0.495112  0.170101
2    0.695007  0.694754  0.376992  0.677308  0.032396
1    0.416347  0.511203  0.366239  0.284194  0.421610
0    Nishanth  0.771929  0.649208  0.934152  0.302544

[334 rows x 5 columns]

In [39]:
# now for x axis, or row wise
newdf.sort_index(axis=1,ascending=False)

            4         3         2         1         0
0    0.302544  0.934152  0.649208  0.771929  Nishanth
1    0.421610  0.284194  0.366239  0.511203  0.416347
2    0.032396  0.677308  0.376992  0.694754  0.695007
3    0.170101  0.495112  0.016456  0.877458  0.329082
4    0.695969  0.341974  0.436798  0.928497  0.817601
..        ...       ...       ...       ...       ...
329  0.368426  0.383457  0.446632  0.945032  0.158488
330  0.657916  0.326731  0.874532  0.377012  0.791534
331  0.051595  0.958925  0.200555  0.973973  0.734658
332  0.645723  0.480361  0.570850  0.036648  0.587234
333  0.708460  0.898762  0.868134  0.599963   0.50119

[334 rows x 5 columns]

In [40]:
newdf.head()

          0         1         2         3         4
0  Nishanth  0.771929  0.649208  0.934152  0.302544
1  0.416347  0.511203  0.366239  0.284194  0.421610
2  0.695007  0.694754  0.376992  0.677308  0.032396
3  0.329082  0.877458  0.016456  0.495112  0.170101
4  0.817601  0.928497  0.436798  0.341974  0.695969

In [41]:
newdf[0]

0      Nishanth
1      0.416347
2      0.695007
3      0.329082
4      0.817601
         ...
329    0.158488
330    0.791534
331    0.734658
332    0.587234
333     0.50119
Name: 0, Length: 334, dtype: object

In [42]:
newdf2 = newdf

In [43]:
newdf2[0][0] = 9783

In [44]:
newdf

            0         1         2         3         4
0        9783  0.771929  0.649208  0.934152  0.302544
1    0.416347  0.511203  0.366239  0.284194  0.421610
2    0.695007  0.694754  0.376992  0.677308  0.032396
3    0.329082  0.877458  0.016456  0.495112  0.170101
4    0.817601  0.928497  0.436798  0.341974  0.695969
..        ...       ...       ...       ...       ...
329  0.158488  0.945032  0.446632  0.383457  0.368426
330  0.791534  0.377012  0.874532  0.326731  0.657916
331  0.734658  0.973973  0.200555  0.958925  0.051595
332  0.587234  0.036648  0.570850  0.480361  0.645723
333   0.50119  0.599963  0.868134  0.898762  0.708460

[334 rows x 5 columns]

In [45]:
# newdf2 is a pointer to newdf.. c stuff

# but if we want to copy the dataframe actuallly
newdf2  = newdf.copy()

In [46]:
newdf.loc[0,0] = 654

In [47]:
newdf.head(2)

          0         1         2         3         4
0       654  0.771929  0.649208  0.934152  0.302544
1  0.416347  0.511203  0.366239  0.284194  0.421610